In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import requests as re

In [3]:
df = pd.read_csv("../FASES/Files/wines_table.csv", index_col=0)
df

,name_w,year_w,price,user_score,type_w,region,alcohol_content,wine_grape,pk_score,pn_score,sk_score
0,Ultreia Saint Jacques,2021,"11,50 €","4,2",Vino tinto,Bierzo,"13,5%",Mencía,93 PK,92 PN,NaN
1,José Pariente Verdejo,2022,"10,50 €","4,5",Vino blanco,Rueda,"13,0%",Verdejo,NaN,92 PN,NaN
2,Tinto Pesquera Crianza,2020,"19,30 €","4,6",Vino tinto,Ribera del Duero,"14,5%",Tempranillo,NaN,92 PN,93 SK
3,La Montesa,2020,"15,35 €","4,3",Vino tinto,Rioja,"14,0%",Garnacha,93 PK,93 PN,94 SK
4,Terras Gauda,2022,"15,75 €","4,6",Vino blanco,Rías Baixas,"12,0%",Albariño,NaN,92 PN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
819,Capricho Val de Paxariñas,2022,"11,95 €","4,8",Vino blanco,Bierzo,"13,5%",Godello,90 PK,93 PN,NaN
820,Campo Viejo Crianza,2020,"5,75 €","4,5",Vino tinto,Rioja,"13,5%",Tempranillo,NaN,NaN,NaN
821,Poesia Garnacha Tinta,2021,"3,90 €","4,1",Vino tinto,Catalunya,"13,5%",Garnacha,NaN,NaN,NaN
822,Monasterio de las Viñas Crianza,2019,"5,20 €","5,0",Vino tinto,Cariñena,"13,5%",Tempranillo,NaN,NaN,NaN
823,Faustino V Rosado,2022,"5,45 €","4,1",Vino rosado,Rioja,"13,5%",Tempranillo,NaN,NaN,NaN

In [4]:
df.describe()

,name_w,year_w,price,user_score,type_w,region,alcohol_content,wine_grape,pk_score,pn_score,sk_score
count,824,765,824,824,824,824,823,824,384,345,179
unique,799,20,288,20,26,68,21,58,25,9,10
top,Vespres,2022,"14,90 €","4,5",Vino tinto,Rioja,"14,5%",Tempranillo,90 PK,90 PN,92 SK
freq,2,244,27,100,475,122,186,240,69,92,48

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 824 entries, 0 to 823
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name_w           824 non-null    object
 1   year_w           765 non-null    object
 2   price            824 non-null    object
 3   user_score       824 non-null    object
 4   type_w           824 non-null    object
 5   region           824 non-null    object
 6   alcohol_content  823 non-null    object
 7   wine_grape       824 non-null    object
 8   pk_score         384 non-null    object
 9   pn_score         345 non-null    object
 10  sk_score         179 non-null    object
dtypes: object(11)
memory usage: 77.2+ KB

In [ ]:
#cambiar las comas por puntos: 

columnas_a_actualizar = ['price', 'user_score', 'alcohol_content']

for columna in columnas_a_actualizar:
    df[columna] = df[columna].astype(str).str.replace(',', '.')

In [14]:
#quitar de la var año, la info extra más allá del propio numero 
df['year_w'] = df['year_w'].str.replace(r'\(.*\)', '', regex=True)

In [16]:
df

,name_w,year_w,price,user_score,type_w,region,alcohol_content,wine_grape,pk_score,pn_score,sk_score
0,Ultreia Saint Jacques,2021,11.50 €,4.2,Vino tinto,Bierzo,13.5%,Mencía,93 PK,92 PN,NaN
1,José Pariente Verdejo,2022,10.50 €,4.5,Vino blanco,Rueda,13.0%,Verdejo,NaN,92 PN,NaN
2,Tinto Pesquera Crianza,2020,19.30 €,4.6,Vino tinto,Ribera del Duero,14.5%,Tempranillo,NaN,92 PN,93 SK
3,La Montesa,2020,15.35 €,4.3,Vino tinto,Rioja,14.0%,Garnacha,93 PK,93 PN,94 SK
4,Terras Gauda,2022,15.75 €,4.6,Vino blanco,Rías Baixas,12.0%,Albariño,NaN,92 PN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
819,Capricho Val de Paxariñas,2022,11.95 €,4.8,Vino blanco,Bierzo,13.5%,Godello,90 PK,93 PN,NaN
820,Campo Viejo Crianza,2020,5.75 €,4.5,Vino tinto,Rioja,13.5%,Tempranillo,NaN,NaN,NaN
821,Poesia Garnacha Tinta,2021,3.90 €,4.1,Vino tinto,Catalunya,13.5%,Garnacha,NaN,NaN,NaN
822,Monasterio de las Viñas Crianza,2019,5.20 €,5.0,Vino tinto,Cariñena,13.5%,Tempranillo,NaN,NaN,NaN
823,Faustino V Rosado,2022,5.45 €,4.1,Vino rosado,Rioja,13.5%,Tempranillo,NaN,NaN,NaN

In [ ]:
#eliminar las letras y dejar solo el numero 
df['pk_score'] = df['pk_score'].str.split().str[0]
df['pn_score'] = df['pn_score'].str.split().str[0]
df['sk_score'] = df['sk_score'].str.split().str[0]

In [19]:
# quitar el € de price y el % de alcohol content.v

df['price'] = df['price'].str.replace('€', '')
df['alcohol_content'] = df['alcohol_content'].str.replace('%', '')

In [20]:
df

,name_w,year_w,price,user_score,type_w,region,alcohol_content,wine_grape,pk_score,pn_score,sk_score
0,Ultreia Saint Jacques,2021,11.50,4.2,Vino tinto,Bierzo,13.5,Mencía,93,92,NaN
1,José Pariente Verdejo,2022,10.50,4.5,Vino blanco,Rueda,13.0,Verdejo,NaN,92,NaN
2,Tinto Pesquera Crianza,2020,19.30,4.6,Vino tinto,Ribera del Duero,14.5,Tempranillo,NaN,92,93
3,La Montesa,2020,15.35,4.3,Vino tinto,Rioja,14.0,Garnacha,93,93,94
4,Terras Gauda,2022,15.75,4.6,Vino blanco,Rías Baixas,12.0,Albariño,NaN,92,NaN
...,...,...,...,...,...,...,...,...,...,...,...
819,Capricho Val de Paxariñas,2022,11.95,4.8,Vino blanco,Bierzo,13.5,Godello,90,93,NaN
820,Campo Viejo Crianza,2020,5.75,4.5,Vino tinto,Rioja,13.5,Tempranillo,NaN,NaN,NaN
821,Poesia Garnacha Tinta,2021,3.90,4.1,Vino tinto,Catalunya,13.5,Garnacha,NaN,NaN,NaN
822,Monasterio de las Viñas Crianza,2019,5.20,5.0,Vino tinto,Cariñena,13.5,Tempranillo,NaN,NaN,NaN
823,Faustino V Rosado,2022,5.45,4.1,Vino rosado,Rioja,13.5,Tempranillo,NaN,NaN,NaN

In [21]:
df.dtypes

name_w             object
year_w             object
price              object
user_score         object
type_w             object
region             object
alcohol_content    object
wine_grape         object
pk_score           object
pn_score           object
sk_score           object
dtype: object

In [28]:
df['price'].isna().sum()

0

In [33]:
# pasar price, user_score, alcohol_content a float 

def convert_to_float(val):
    try:
        return float(val)
    except (ValueError, TypeError):
        return None  # Or any other value to indicate non-convertible strings

df['price'] = df['price'].apply(convert_to_float)
df['user_score'] = df['user_score'].apply(convert_to_float)
df['alcohol_content'] = df['alcohol_content'].apply(convert_to_float)

# pasar las 3 de scoring a int

In [36]:
df.dtypes

name_w              object
year_w              object
price              float64
user_score         float64
type_w              object
region              object
alcohol_content    float64
wine_grape          object
pk_score           float64
pn_score           float64
sk_score           float64
dtype: object

In [35]:
# pasar las 3 de scoring a int

def convert_to_integer(val):
    try:
        return int(val)
    except (ValueError, TypeError):
        return None  # Or any other value to indicate non-convertible strings

# Applying the function to convert 'price' column
df['pk_score'] = df['pk_score'].apply(convert_to_integer)
df['pn_score'] = df['pn_score'].apply(convert_to_integer)
df['sk_score'] = df['sk_score'].apply(convert_to_integer)

In [37]:
df

,name_w,year_w,price,user_score,type_w,region,alcohol_content,wine_grape,pk_score,pn_score,sk_score
0,Ultreia Saint Jacques,2021,11.50,4.2,Vino tinto,Bierzo,13.5,Mencía,93.0,92.0,NaN
1,José Pariente Verdejo,2022,10.50,4.5,Vino blanco,Rueda,13.0,Verdejo,NaN,92.0,NaN
2,Tinto Pesquera Crianza,2020,19.30,4.6,Vino tinto,Ribera del Duero,14.5,Tempranillo,NaN,92.0,93.0
3,La Montesa,2020,15.35,4.3,Vino tinto,Rioja,14.0,Garnacha,93.0,93.0,94.0
4,Terras Gauda,2022,15.75,4.6,Vino blanco,Rías Baixas,12.0,Albariño,NaN,92.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
819,Capricho Val de Paxariñas,2022,11.95,4.8,Vino blanco,Bierzo,13.5,Godello,90.0,93.0,NaN
820,Campo Viejo Crianza,2020,5.75,4.5,Vino tinto,Rioja,13.5,Tempranillo,NaN,NaN,NaN
821,Poesia Garnacha Tinta,2021,3.90,4.1,Vino tinto,Catalunya,13.5,Garnacha,NaN,NaN,NaN
822,Monasterio de las Viñas Crianza,2019,5.20,5.0,Vino tinto,Cariñena,13.5,Tempranillo,NaN,NaN,NaN
823,Faustino V Rosado,2022,5.45,4.1,Vino rosado,Rioja,13.5,Tempranillo,NaN,NaN,NaN

In [ ]:
# mantener los valores NaN al subir datos desde Python a MySQL. Los valores NaN pueden ser manejados en MySQL y son compatibles con ciertos tipos de datos.

# Algunas consideraciones:

# Tipo de datos en MySQL: Si planeas guardar valores NaN en MySQL, puedes usar tipos de datos que admitan valores nulos, como FLOAT, DOUBLE, DECIMAL, entre otros. Estos tipos de datos pueden almacenar valores numéricos y también pueden aceptar valores nulos.

# NULL en MySQL: En MySQL, un valor NaN de Python podría ser interpretado como NULL. Al insertar datos desde Python a MySQL, los valores NaN podrían ser interpretados como valores nulos, dependiendo de cómo se manejen durante la inserción.

# Al insertar datos desde Python a MySQL, podrías realizar la inserción de esta manera para tratar los NaN como NULL:




# import pymysql
# import numpy as np

# # Conectar a la base de datos MySQL
# connection = pymysql.connect(host='tu_host',
#                              user='tu_usuario',
#                              password='tu_contraseña',
#                              database='tu_basededatos')

# # Suponiendo que 'df' es tu DataFrame con valores NaN
# # Reemplazar NaN con None para insertar como NULL en MySQL
# df.fillna(np.nan, inplace=True)

# # Insertar datos en MySQL
# df.to_sql('nombre_tabla', con=connection, if_exists='replace', index=False)

# # Cerrar la conexión
# connection.close()



# En este ejemplo, fillna() se usa para reemplazar NaN con None antes de insertar los datos en MySQL. Esto es útil para representar los valores NaN como valores NULL en MySQL.

# Recuerda que la forma en que MySQL interpreta los valores NaN de Python puede depender del tipo de columna y de la configuración específica de tu base de datos. Siempre es recomendable hacer pruebas y validar los datos después de la inserción para asegurarte de que los valores se manejen correctamente.